<ion-header>
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
  <div class="login-box">
    <form (ngSubmit)="register()" [formGroup]="regForm">
      <div class="alert alert-danger" *ngFor="let data of errorMessage">
        <strong>{{ data }}</strong>
      </div>


      <ion-row>
        <ion-col>
            <ion-item>
            <ion-label color="primary">First name</ion-label>
            <ion-input name="first_name" placeholder="First Name" formControlName="first_name" type="text" id="first_name" #first_name class="form-control"></ion-input>
          </ion-item>
          <span *ngIf="!regForm.controls.first_name.valid  && (regForm.controls.first_name.dirty)" class="invalid">
            First Name is Required
          </span>
        </ion-col>
        <ion-col>
          <ion-item>
            <!--<ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>-->
            <ion-label color="primary">Last name</ion-label>
            <ion-input name="last_name" placeholder="Last Name" formControlName="last_name" type="text" id="last_name" #last_name class="form-control"></ion-input>
          </ion-item>
          <span *ngIf="!regForm.controls.last_name.valid  && (regForm.controls.last_name.dirty)" class="invalid">
            Last Name is Required
          </span>
        </ion-col>
      </ion-row>



      <ion-item>
        <ion-label color="primary">Phone Number</ion-label>
        <!--<ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>-->
        <ion-input name="phone" placeholder="Phone Number" formControlName="phone" type="text" id="phone" #phone class="form-control"></ion-input>
      </ion-item>
      <span *ngIf="!regForm.controls.phone.valid  && (regForm.controls.phone.dirty)" class="invalid">
        Phone Number is Required
      </span>

      <ion-item>
        <ion-label color="primary">Email</ion-label>
        <!--<ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>-->
        <ion-input name="email" placeholder="Email" formControlName="email" type="email" id="email" #email class="form-control"></ion-input>
      </ion-item>
      <span *ngIf="!regForm.controls.email.valid  && (regForm.controls.email.dirty)" class="invalid">
        Email is invalid!
      </span>

      <ion-item>
        <ion-label color="primary">Password</ion-label>
        <ion-input type="password" placeholder="Password" name="password" formControlName="password"></ion-input>
      </ion-item>
      <span *ngIf="!regForm.controls.password.valid  && (regForm.controls.password.dirty)" class="invalid">
         Please enter at least 6 characters
      </span>

      <ion-item>
        <ion-label color="primary">Confirm Password</ion-label>
        <ion-input formControlName="confirmPassword" placeholder="Confirm Password" type="password" id="confirm-password" #confirmPassword class="form-control" name="confirm_password"></ion-input>
      </ion-item>
      <span *ngIf="!regForm.controls.confirmPassword.pristine && regForm.controls.confirmPassword.errors != null && regForm.controls.confirmPassword.errors['passwordsNotMatch']" class="invalid">Passwords do not match</span>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!regForm.valid">Register</button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
